body{
    background-color: black;
    background-image: url("./image.png");
    background-repeat: no-repeat;
    background-size: cover;
}

p{
    font-family: Arial, Helvetica, sans-serif;
}

a{
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: #ffffff;
}

a:hover{
    background-color: #ffffff;
    color: #000000;
}

label{
    color: #ffffff;
}

div{
    background-color: rgba(255, 255, 255, 0.5);
}

/*Lišta*/

.lišta div, .lišta a{
    color: white;
    text-align: center;
    text-decoration: none;
}

.lišta{
    display: flex;
    justify-content: center;
    align-items: center;
}

.lišta div{
    display: flex;
    flex: 1;
    text-align: center;
    border: solid white 2px;
    border-radius: 5px;
    margin: 5px;
    height: 50px;
    background-color: #000000;
    justify-content: center;
    align-items: center;
}

.lišta a{
    display: flex;
    height: 100%;
    flex: 1;
    justify-content: center;
    align-items: center;
}

.lišta div:hover{
    background-color: white;
}

.lišta div:hover a{
    color: black; 
}

/*Home*/
.home{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.hvezdy{
    display: block;
    margin: 10px;
}

/*O nás*/

.AboutUs{
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-large;
    background-color: rgba(255, 255, 255, 0.5);
}

/*Booking*/

.trida{
    display: grid;
    grid-template-columns: repeat(4,50px);
    
}

.trida label{
    text-align: center;
}

.textbox{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;;
}

label{
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
}

.formular{
    margin: auto;
    display: flex;
    width: min-content;
    flex-direction: column;
    font-size: xx-large;
}

.datum{
    display: flex;
}

.odeslat{
    margin: auto;
}

/*Ceník*/

.Cenik{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
}

.Cenik table{
    border: 1px black solid;
    border-collapse: collapse;
    background-color: #ffffff;
    height: 500px;
    width: 350px;
}

.Cenik th{
    border: 1px black solid;
    border-collapse: collapse;
}

.even{
    background-color: grey;
}

.nadpis{
    background-color: #000000;
    color: #ffffff;
}

/*Kontakt*/

.kontakt{
    font-family: Arial, Helvetica, sans-serif;
}

/*mobilní zobrazení*/
@media (max-width:1000px) {
    body{
        background-image: none;
        background-color: #000000;
    }

    .lišta{
        flex-direction: column;
    }

    .lišta div{
        min-width: 100%;
        min-height: 50px;
        align-items: center;
    }

    .home{
        color: #ffffff;
    }
}